<div class="container">
    <div *ngFor="let group of apartmentGroups" class="card mt-3">
        <div class="card-header">
          <a type="button" (click)="navigateToDetails(group.id)">{{group.name}}</a>
        </div>
        <div class="card-body">
          <div *ngIf="group; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><img src="../../../assets/apartmentgroup/img1.jpg" alt=""></ng-template>
          <ng-template #elseBlock><img src="../../../assets/apartmentgroup/no-image.png" alt=""></ng-template>
          <p class="card-text">{{group.description}}.</p>
        </div>
      </div>

      
</div>

