
.container {
    // border: 1px solid black;
    border-radius: 5px 5px 5px 5px;

}

.wrapper {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

.gallery {
    // border: 3px solid green;
    width: 50%;
}

.details {
    padding: 10px;
    border: 3px solid gray;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
}

.address {
    display: flex;
    flex-wrap: wrap;
}

.address p {
    width: 40%
}

.other {
    display: flex;
    flex-wrap: wrap;
}

.other p {
    width:30%;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features p {
    width:30%;
}

.header1 {
    display: flex;
    flex-wrap: wrap;
}

.header1 h1 {
    width: 90%;
}

.header1 button {
    width: 10%;
}




