<div class="container mt-3">

    <div class="header">
      <i id="ic" class="material-icons text-primary">house</i>
      <h2 class="text-black">New apartment</h2>
      <!-- <button class="btn float-right" (click)="addComponentNavigation()" ><i id="add" class="material-icons text-primary">add_circle_outline</i></button> -->
    </div>

    <!-- <form [formGroup]="apartmentDetailGroup" (ngSubmit)="onSubmit()" #myform="ngForm"> -->
    <form [formGroup]="apartmentDetailGroup"  #myform="ngForm">

      <div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
            <h4 class="text-primary">Osnovne informacije <span class="text-danger">*</span></h4>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="firstName" class="required">Naziv</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Naziv apartmana"
            formControlName="name" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="description" class="required">Kratki opis</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Kratki opis apartmana"
            formControlName="description" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
            <label for="apartmentTypeId" class="required">Vrsta apartmana</label>
            <ng-select [items]="apartmentTypes" bindLabel="name" bindValue="id" labelForId="state" placeholder="Izaberi..."
              clearAllText="Clear" formControlName="apartmentTypeId" 
              [ngClass]="{'is-invalid': apartmentTypeId.invalid && (apartmentTypeId.dirty || apartmentTypeId.touched || myform.submitted)}">
            </ng-select>
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
            <label for="apartmentGroupId" class="required">Grupa apartmana</label>
            <ng-select [items]="apartmentGroups" bindLabel="name" bindValue="id" labelForId="state" placeholder="Izaberi..."
              clearAllText="Clear" formControlName="apartmentGroupId" 
              [ngClass]="{'is-invalid': apartmentGroupId.invalid && (apartmentGroupId.dirty || apartmentGroupId.touched || myform.submitted)}">
            </ng-select>
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="size" class="required">Veličina</label>
            <input type="number" class="form-control" id="size" name="size" placeholder="Veličina u kvadratima"
            formControlName="size" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': size.invalid && (size.dirty || size.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="numberOfBedrooms" class="required">Broj spavaćih soba</label>
            <input type="number" class="form-control" id="numberOfBedrooms" name="numberOfBedrooms" placeholder="Broj spavaćih soba"
            formControlName="numberOfBedrooms" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': numberOfBedrooms.invalid && (numberOfBedrooms.dirty || numberOfBedrooms.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>

          
        </div>
        <div class="mt-2 mb-3 border-top"></div>
      </div>

      <div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
            <h4 class="text-primary">Informacije o lokaciji <span class="text-danger">*</span></h4>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="address" class="required">Adresa apartmana</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Adresa apartmana"
            formControlName="address" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': address.invalid && (address.dirty || address.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          
          <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
            <label for="countryId" class="required">Država</label>
            <ng-select [items]="countries" bindLabel="name" bindValue="id" labelForId="state" placeholder="Izaberi..."
              clearAllText="Clear" formControlName="countryId" 
              [ngClass]="{'is-invalid': countryId.invalid && (countryId.dirty || countryId.touched || myform.submitted)}">
            </ng-select>
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div *ngIf="countryId.valid" class="col-lg-4 col-md-12 col-sm-12 mb-3">
            <label for="cityId" class="required">Grad</label>
            <ng-select [items]="cities" bindLabel="name" bindValue="id" labelForId="state" placeholder="Izaberi..."
              clearAllText="Clear" formControlName="cityId" 
              [ngClass]="{'is-invalid': cityId.invalid && (cityId.dirty || cityId.touched || myform.submitted)}">
            </ng-select>
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
        </div>
        <div class="mt-2 mb-3 border-top"></div>
      </div>

      <div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
            <h4 class="text-primary">Dodatne informacije <span class="text-danger">*</span></h4>
          </div>
          <!-- <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
            <label for="dateOfBirth" class="required">Datum rođenja</label>
            <div class="input-group">
              <input class="form-control" placeholder="dd.mm.yyyy." name="dp" formControlName="dateOfBirth"
              ngbDatepicker #d="ngbDatepicker" [readonly]="true" [minDate]="{year: 1940, month: 1, day: 1}" [maxDate]="dynamicToday"
                [ngClass]="{'is-invalid': dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched || myform.submitted)}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar-box" (click)="d.toggle()" type="button"><i
                    class="i-Calendar-4"></i></button>
              </div>
              <div class="invalid-feedback">Polje je obavezno</div>
            </div>
          </div> -->

          <!-- radio buttoni -->
          <!-- <div class="card-body">
            <div class="card-title delete-contract-button">
              <h5 class="text-primary text-22">
                Osnovna dokumentacija
              </h5>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 74.02%">Naziv dokumenta</th>
                  <th scope="col" style="width: 8.66%">Odobreno</th>
                  <th scope="col" style="width: 8.66%">Dodano</th>
                  <th scope="col" style="width: 8.66%">Akcija</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let document of basicDocumentTypes">
                  <td>
                    {{ document.name }}
                    <button type="button" class="btn btn-outline-secondary mr-2 family-type-popover p-0" placement="right"
                      triggers="mouseenter:mouseleave" [ngbPopover]="document.description" popoverTitle="Opis"
                      container="body">
                      <i class="i-Information" style="font-size: 1.3rem;"></i>
                    </button>
                  </td>
                  <td>
                    <label class="switch" style="padding:2%;">
                      <input type="checkbox" [checked]="document.documents?.length > 0 && document.isVerified" disabled>
                      <span class="slider round"></span>
                    </label>
                  </td>
                  <td>
                    <label class="switch" style="padding:2%;">
                      <input type="checkbox" [checked]="document.documents?.length > 0 && document" disabled>
                      <span class="slider round"></span>
                    </label>
                  </td>
                  <td>
                    <button class="btn btn-outline-primary" style="margin-top: -2.5%;"
                      (click)="preview(document.documents[0])">Otvori</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row" style="justify-content: center;" *ngIf="isLoadingDocuments">
              <div class="spinner-bubble spinner-bubble-primary m-5"></div>
              <div class="col-md-3" style="display:flex;flex-direction: column;justify-content: center;">
                <h1 class="text-18 text-primary">Učitavanje dokumentacije</h1>
              </div>
            </div>
          </div> -->

          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="capacity" class="required">Kapacitet</label>
            <input type="number" class="form-control" id="capacity" name="capacity" placeholder="Broj osoba.."
            formControlName="capacity" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': capacity.invalid && (capacity.dirty || capacity.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="closestBeachDistance" class="required">Najbliža plaža</label>
            <input type="number" class="form-control" id="closestBeachDistance" name="closestBeachDistance" placeholder="Udaljenost plaže od apartmana.."
            formControlName="closestBeachDistance" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': closestBeachDistance.invalid && (closestBeachDistance.dirty || closestBeachDistance.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <label for="closestMarketDistance" class="required">Najbliža trgovina</label>
            <input type="number" class="form-control" id="closestMarketDistance" name="closestMarketDistance" placeholder="Udaljenost trgovine od apartmana.."
            formControlName="closestMarketDistance" [readonly]="row && row.IsNiasUser"
              [ngClass]="{'is-invalid': closestMarketDistance.invalid && (closestMarketDistance.dirty || closestMarketDistance.touched || myform.submitted)}"
              autocomplete="off">
            <div class="invalid-feedback">Polje je obavezno</div>
          </div>
          
          <div class="custom-control custom-switch col-lg-4 col-md-12 col-sm-12 mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="climateControl">
            <label class="custom-control-label" for="customSwitch1">Klimatizacija</label>
          </div>
          <div class="custom-control custom-switch col-lg-4 col-md-12 col-sm-12 mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitch2" formControlName="kitchenTool">
            <label class="custom-control-label" for="customSwitch2">Kuhinjski pribor</label>
          </div>
          <div class="custom-control custom-switch col-lg-4 col-md-12 col-sm-12 mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitch3" formControlName="wifi">
            <label class="custom-control-label" for="customSwitch3">Wifi</label>
          </div>
          <div class="custom-control custom-switch col-lg-4 col-md-12 col-sm-12 mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitch4" formControlName="bbqTools">
            <label class="custom-control-label" for="customSwitch4">Oprema za roštilj</label>
          </div>
          <div class="custom-control custom-switch col-lg-4 col-md-12 col-sm-12 mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitch5" formControlName="workSpace">
            <label class="custom-control-label" for="customSwitch5">Mjesto za rad</label>
          </div>
          <div class="custom-control custom-switch col-lg-4 col-md-12 col-sm-12 mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitch6" formControlName="sportTool">
            <label class="custom-control-label" for="customSwitch6">Sportska oprema</label>
          </div>
        </div>
        <div class="mt-2 mb-3 border-top"></div>
      </div>

      
<!-- form array dio  -->

<!-- <div class="form-group">
  
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <h4 class="text-primary">Cijene apartmana <span class="text-danger">*</span></h4>
  </div> -->
  

  <!-- periodi placanja formarray -->
  <!-- <div class="header2">
    <h4 class="text-black">Dodaj period plaćanja</h4>
    <button class="btn float-right" (click)="addPricingPeriodDetails()" ><i id="add" class="material-icons text-primary">add</i></button>
  </div>
</div>
<br>

<div formArrayName="pricingPeriodDetails" *ngFor="let detail of pricingPeriodDetailsControls; let i = index">
  <div [formGroupName]="i"> 
    <div class="row mb-3">
      
      <div class="col-3">
        <label for="dateFrom">Datum od</label>
        <input type="datetime-local" class="form-control" id="dateFrom" formControlName="dateFrom" placeholder="Datum od.." >
      </div>
      <div class="col-3">
        <label for="dateto">Datum do</label>
        <input type="datetime-local" class="form-control" id="dateto" formControlName="dateTo" placeholder="Datum do.." >
      </div>
      <div class="col-3">
        <label for="dateto">Cijena</label>
        <input type="number" class="form-control" id="dateto" formControlName="price" placeholder="Cijena" >
      </div>
      <div class="col-3 mt-4">
      <button class="btn btn-danger" (click)= "removePricingPeriodDetail(i)">Izbriši</button>
      </div>
    </div>
  </div>
</div> -->

<!-- zavrsetak perioda placanja-->


<button type="submit" class="btn btn-secondary mb-3" (click)= "saveApartment()">Spremi</button>
      <!-- <button class="btn btn-primary" type="submit">Spremi</button> -->
      <!-- <mat-toolbar color="primary">  
        <h1>  
          ngImageUpload   
        </h1>  
        <button mat-button routerLink="/">Home</button>  
        <button mat-button routerLink="/about">About</button>
      </mat-toolbar> -->
      

  </form>


<!-- Upload photos -->
  <!-- <div style="text-align:center; margin-top: 100px; "><mat-card style="margin-top:10px; width: 50%;">  
    <mat-card-content>  
        <ul>  
            <li *ngFor="let file of files">  
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                <span id="file-label">  
                      
                </span>  
            </li>  
        </ul>  
    </mat-card-content>  
    <mat-card-actions>  
        <button mat-button color="warn" (click)="onClick()">  
            <mat-icon>file_upload</mat-icon>  
            Upload  
        </button>  
    </mat-card-actions>  
</mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div> -->


<!-- 
  <mat-toolbar color="primary">  
    <h1>  
      ngImageUpload   
    </h1>  
    <button mat-button routerLink="/">Home</button>  
    <button mat-button routerLink="/about">About</button>
  </mat-toolbar> -->

    


    

    
  
     
</div>
