.header {
    display: flex;
    flex-wrap: wrap;
}

.header h2 {
    width:85%;
}

.header i {
    font-size: 30px;
    width: 5%;

}

#ic {
    font-size: 30px;
    width: 5%;
  
  }
  
  #add {
    font-size:40px;
  
  }