.header {
    display: flex;
    flex-wrap: wrap;
}

.header h2 {
    width:85%;
}

.header i {
    font-size: 30px;
    width: 5%;

}

#ic {
    font-size: 30px;
    width: 5%;
  
  }
  
  #add {
    font-size:40px;
  
  }

  .price {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .price h5 {
    width:85%;
}

.price button {
    padding-top: 10px;
    font-size: 30px;
    width: 5%;
}