<div class="navbar">
  <a href="#" class="logo">Bookme<span style="color: rgb(37, 123, 165);;">.com</span></a>
  <ul class="navx">
    <li>
      <a href="#home">Home</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#about">About</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#portfolio">Portfolio</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#services">Services</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#contact">Contact</a>
      <div class="underline"></div>
    </li>
  </ul>
</div>