body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.navbar {
    // position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    // background-color: #d4d7de;
    background-color: rgb(1, 43, 134);
    width: 100%;
    height: 80px;
    z-index: 1;
    // border: 1px solid green;
    
}

.navx {
    margin-top: 0.5%;
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%; 

}

.logo {
    margin-top: 0.25%;
// border: 1px solid red;
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

a{
    // margin: 15px;
    margin-right: 1.5em;
    margin-left: 1.5em;
    // margin-bottom: 1em;
    // color: #000;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

a:hover {
    // color: #000;
    color:  rgb(4, 125, 185);
    // rgb(4, 125, 185);
}

.navbar {
	// text-align: center;
	// background-color: #009688;
	box-shadow: 0px -20px 5px 20px #333333;
	padding: 10px;
	// font-size: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar ul li {
	display: inline-block;
	// font-size: 16px;
}

.navbar ul li a {
	// color: #ffffff;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 0.5s;
}

.navbar ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
    margin: 0 auto;
    
}

// .navbar ul li.active-link .underline {
// 	width: 100%;
// 	background-color: white;
// }

.navbar ul li:hover .underline {
	background-color: rgb(4, 125, 185);
	width: 100%;
}

// .navbar ul li:hover a {
// }

.navbar ul li:active a {
	transition: none;
	// color: rgba(255,255,255,0.76);
}

.navbar ul li:active .underline {
	transition: none;
	// background-color: rgba(255,255,255,0.76);
}