<div class="navbar">
  <a href="#" class="logo">Bookme<span style="color: rgb(37, 123, 165);;">.com</span></a>
  <ul class="navx">
    <li>
      <a href="#home">Home</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#about">About</a>
      <div class="underline"></div>
    </li>
    <li *ngIf="!loggedIn()">
      <a (click)="navigateToLoginPage()" routerLinkActive="router-link-active" >Log in</a>
      <div class="underline"></div>
    </li>
    <li *ngIf="loggedIn()">
      <a (click)="logout()" routerLinkActive="router-link-active" >Log out</a>
      <div class="underline"></div>
    </li>
    
    
  </ul>
</div>