.header2 {
    display: flex;
    flex-wrap: wrap;
}

.header2 h4 {
    padding-top: 10px;
}

.row {
    margin-left: 5%;
}

#button-save {
    margin-top: 5%;
    margin-left: 10.5%;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header h2 {
    width:85%;
}

.header i {
    font-size: 30px;
    width: 5%;

}