<div class="container mt-5">
    <h2>Register</h2>
    <hr>
    <form [formGroup]="registerFormGroup">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="staticEmail" formControlName="username" placeholder="enter your email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="enter your password">
          </div>
        </div>
        <button type="submit"  class="btn btn-primary" (click)="register()">Sign up</button>
      </form>
      <button (click)="navigateToLoginPage()" class="btn btn-outline-secondary mt-3">I Have Account</button>

      
</div>
