<!-- <app-site-navbar></app-site-navbar> -->
<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
</script>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <h3>BOOKME - ASSISTANT </h3>
        <i class="material-icons text-primary">menu</i>
      </div>
      <div class="list-group list-group-flush">

        <!-- <li id="item" class="list-group-item list-group-item-action bg-light"><i style="font-size: 24px;" class="material-icons">deck</i> <a>APARTMENT GRUPA</a></li> -->
        <!-- <i class="material-icons">deck</i>  -->
        <!-- <a id="lists" routerLink="apartment-groups" class="list-group-item list-group-item-action bg-light">Apartment groups</a> -->

        <!-- <div class="kurac">
          <i style="font-size: 24px;" class="material-icons">deck</i>
          <a id="lists" routerLink="apartment-groups" class="list-group-item list-group-item-action bg-light">Apartment groups</a>
        </div> -->

        <a href="" routerLink="apartment-groups" class="kurac list-group-item list-group-item-action bg-light">
          <i style="font-size: 24px;" class="material-icons">deck</i>
          <p>Apartmani</p>
        </a>

        <a href="" routerLink="reservations" class="kurac list-group-item list-group-item-action bg-light">
          <i style="font-size: 24px;" class="material-icons">today</i>
          <p>Rezervacije</p>
        </a>

        <a  class="kurac list-group-item list-group-item-action bg-light" (click)="clickEvent()">
          <p>Osnovni podaci</p>
          <i *ngIf="!osnovniPodaciExpand" style="font-size: 24px;" class="material-icons">expand_more</i>
          <i *ngIf="osnovniPodaciExpand" style="font-size: 24px;" class="material-icons">keyboard_arrow_up</i>

          <!-- <p>CRUD</p> -->
        </a>

        <div *ngIf="osnovniPodaciExpand" [@inOutAnimation]>
          <a href="" routerLink="city" class="kuracD list-group-item list-group-item-action bg-light">
            <i style="font-size: 24px;" class="material-icons">location_city</i>
            <p>Grad</p>
          </a>

          <a href="" routerLink="country" class="kuracD list-group-item list-group-item-action bg-light">
            <i style="font-size: 24px;" class="material-icons">public</i>
            <p>Država</p>
          </a>

          <a href="" routerLink="users" class="kuracD list-group-item list-group-item-action bg-light">
            <i style="font-size: 24px;" class="material-icons">people_outline</i>
            <p>Korisnici</p>
          </a>

          <a href="" routerLink="apartment-types" class="kuracD list-group-item list-group-item-action bg-light">
            <i style="font-size: 24px;" class="material-icons">hotel</i>
            <p>Vrsta Apartmana</p>
          </a>
        </div>

        <!-- <button class="dropdown-btn">Dropdown
          <i class="fa fa-caret-down"></i>
        </button> -->
        <!-- <a routerLink="apartment-groups" class="list-group-item list-group-item-action bg-light"><i class="material-icons">house</i>Apartment groups</a> -->

        <!-- <a routerLink="apartments" class="list-group-item list-group-item-action bg-light">Apartments</a>
        <a routerLink="apartments" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a routerLink="apartments" class="list-group-item list-group-item-action bg-light">Events</a>
        <a routerLink="apartments" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a routerLink="apartments" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>



