<div class="modal-header">
  <h4 class="modal-title text-primary" id="modal-title"><strong>{{ title }}</strong></h4>
</div>
<div class="modal-body">
  <h3 *ngIf="action === 'add'">Cijena apartmana za prijavljeni period : {{price}}</h3>
  <h3 *ngIf="action !== 'add'">Apartman nije raspoloživ - Molimo probajte sa drugim datumima</h3>
  

        <div class="modal-footer" style="justify-content: space-between;">
          <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.close()">Odustani</button>
          <button *ngIf="action === 'add'" type="button" ngbAutofocus
        class="btn btn-primary btn-rounded" (click)="saveReservation()">Spremi</button>
</div>
  <!--  -->

  
</div>
