<div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-title"><strong>{{ title }}</strong></h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="apartmentTypeGroup" #myForm="ngForm">
      <div class="card-body" *ngIf="action == 'add' || action == 'edit'">
        <div class="col-sm-12 col-md-12 col-lg-12  mb-3">
          <label for="name" class="required">Naziv</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Ime"
            formControlName="name"
            [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched || myForm.submitted)}"
            autocomplete="off">
          <div class="invalid-feedback">Polje je obavezno</div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12  mb-3">
          <label for="description" class="required">Opis</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="Opis"
            formControlName="description"
            [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched || myForm.submitted)}"
            autocomplete="off">
          <div class="invalid-feedback">Polje je obavezno</div>
        </div>
  <!-- ispod ide provjera ako je super admin -->
        
      </div>
      
      <div class="modal-footer" style="justify-content: space-between;">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.close()">Odustani</button>
        <!-- Edit button -->
         <!-- [disabled]="!otherChildGroup.valid"  -->
        <button *ngIf="action === 'edit'" [disabled]="!apartmentTypeGroup.valid" type="button" ngbAutofocus
          class="btn btn-primary btn-rounded" (click)="editApartmentType()">Spremi</button>
        <!-- Create button -->
        <!--  -->
        <button [disabled]="!apartmentTypeGroup.valid" *ngIf="action === 'add'" type="button" ngbAutofocus
          class="btn btn-primary btn-rounded" (click)="saveApartmentType()">Spremi</button>
        <!-- Delete button -->
        <!-- <button *ngIf="action === 'delete'" type="button" ngbAutofocus (click)="deleteApartmentGroup()" class="btn btn-danger btn-rounded" >Potvrdi</button> -->
      </div>
    </form>
  </div>
  
