.card {
    width: 80%;
    height: 50%;
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body img {
    width: 20%;
    border-radius: 5px 5px 5px;
}

.card-text {
    width: 65%;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header h2 {
    width:85%;
}

.header i {
    font-size: 30px;
    width: 5%;

}

#ic {
    font-size: 30px;
    width: 5%;
  
  }
  
  #add {
    font-size:40px;
  
  }

  .card-header {
      display: flex;
      flex-wrap: wrap;

  }

  .card-header a {
    width: 50%;
    font-size: 1.5em;
  }

  