<div class="container mt-3">

  <div class="header">
    <i id="ic" class="material-icons text-primary">house</i>
    <h2 class="text-black">Apartments</h2>
    <button class="btn float-right" (click)="addComponentNavigation()" ><i id="add" class="material-icons text-primary">add_circle_outline</i></button>
  </div>

    <div *ngFor="let a of apartments" class="card mt-3">
        <div class="card-header">
          <a type="button" (click)="navigateToDetails(a.id)">{{a.name}}</a>
          <button class="btn btn-outline-secondary mr-2" (click)="openPricingPeriodPage(a.id)">Dodaj cijene</button>
          <button class="btn btn-outline-secondary mr-2" (click)="openImageUploadPage(a.id)">Dodaj fotografije</button>
          <button class="btn btn-info mr-2" (click)="openEditPage(a.id)"> Uredi</button>
          <button class="btn btn-danger mr-2"> Izbriši</button>



        </div>
        <div class="card-body">
          <div *ngIf="a.image; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><img src="../../../assets/apartmentgroup/img1.jpg" alt=""></ng-template>
          <ng-template #elseBlock><img src="../../../assets/apartmentgroup/no-image.png" alt=""></ng-template>
          <p class="card-text">{{a.description}}.</p>
        </div>
      </div>
</div>

<app-admin-pricing-period-details [Message]="Message"></app-admin-pricing-period-details>
