<div class="container mt-3">
    <div class="header">
        <i id="ic" class="material-icons text-primary">photo</i>
        <h2 class="text-black">Fotografije apartmana</h2>
        <!-- <button class="btn float-right"><i id="add" class="material-icons text-primary" (click)="addPricingPeriodDetails()">add_circle_outline</i></button> -->
      </div>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
  
        <!-- <div class="form-group">
            <label for="name">Name</label>
            <input 
                formControlName="name"
                id="name" 
                type="text" 
                class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
                <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
            </div>
        </div> -->
          
        <div class="form-group">
            <label for="file">Fotografija</label>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                (change)="onFileChange($event)">
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
        </div>
              
        <button class="btn btn-primary mb-3" type="submit">Submit</button>
    </form>
    
        <div class="imagesContainer">
            <div *ngFor="let image of images" style="display: flex; flex-wrap: wrap;" >
                <!-- <p>Taken from wikpedia</p> -->
                <img style="width: 70%; height: 300px;" [src]="createImgPath(image.filePath)">
                <button style="height: 35px;" class="btn btn-danger" (click)="deleteImage(image.id)">Izbriši</button>
                <!-- <img style="width: 100px; height: 100px;" src="Images/img1.jpg" alt=""> -->
            </div>
        </div>
        
</div>
