
<div class="slider">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" style="height: 700px; width: 100%;" alt="Random first slide">
          </div>
          <div class="carousel-caption" style="margin-bottom: 10%;">
            <div id="container">
              <button (click)="navigateToApartments()" class="learn-more">
                <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Apartmani</span>
              </button>
            </div>
            <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" style="height: 700px; width: 100%;" alt="Random second slide">
          </div>
          <div class="carousel-caption" style="margin-bottom: 10%;">
            <div id="container">
              <button (click)="navigateToApartments()" class="learn-more">
                <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Apartmani</span>
              </button>
            </div>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" style="height: 700px; width: 100%;" alt="Random third slide">
          </div>
          <div class="carousel-caption" style="margin-bottom: 10%;">
            <div id="container">
              <button (click)="navigateToApartments()" class="learn-more">
                <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Apartmani</span>
              </button>
            </div>
            <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </ng-template>
      </ngb-carousel>
</div>
<div class="reserve">
  <button type="button" style="margin-left: 40%;" class="btn btn-danger">Rezerviraj teren</button>
  <button type="button" class="btn btn-info ml-2">Igraj turnir</button>
</div>


<!-- iznad je image slider za iskoristiti -->
<!-- <div class="navbar">
  <a href="#" class="logo">Booknex</a>
  <ul class="navx">
    <li>
      <a href="#home">Home</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#about">About</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#portfolio">Portfolio</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#services">Services</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="#contact">Contact</a>
      <div class="underline"></div>
    </li>
  </ul>
</div> -->


<!-- <div class="banner-area" id="home">
  <div class="reserve">
    <form>
      
     
      <div class="row">
        <div class="col mt-3 text-center">
          <button class="btn draw-border">Pretraži apartmane</button>

        </div>
      </div>
    </form>
  </div>  
</div> -->



  
  <!-- <div class="about-area" id="about">
    <div class="text-part">
      <h1>About Area</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, atque fugiat? Doloribus omnis, consequatur
        illum
        exercitationem sit alias esse dolorem fuga. Nostrum eos quos provident explicabo eum vero dolor cumque officia
        repudiandae tempora fuga reprehenderit est expedita nulla eveniet eius, atque recusandae, at quae ex ratione
        labore
        quaerat perspiciatis alias!</p>
    </div>
    <div class="port-area" id="portfolio">
      <div class="text-part">
        <h1>Portfolio Area</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, atque fugiat? Doloribus omnis,
          consequatur illum
          exercitationem sit alias esse dolorem fuga. Nostrum eos quos provident explicabo eum vero dolor cumque officia
          repudiandae tempora fuga reprehenderit est expedita nulla eveniet eius, atque recusandae, at quae ex ratione
          labore
          quaerat perspiciatis alias!</p>
      </div>
      <div class="service-area" id="services">
        <div class="text-part">
          <h1>Services Area</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, atque fugiat? Doloribus omnis,
            consequatur illum
            exercitationem sit alias esse dolorem fuga. Nostrum eos quos provident explicabo eum vero dolor cumque
            officia
            repudiandae tempora fuga reprehenderit est expedita nulla eveniet eius, atque recusandae, at quae ex ratione
            labore
            quaerat perspiciatis alias!</p>
        </div>
        <div class="contact-area" id="contact">
          <div class="text-part">
            <h1>Contact Area</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, atque fugiat? Doloribus omnis,
              consequatur illum
              exercitationem sit alias esse dolorem fuga. Nostrum eos quos provident explicabo eum vero dolor cumque
              officia
              repudiandae tempora fuga reprehenderit est expedita nulla eveniet eius, atque recusandae, at quae ex
              ratione labore
              quaerat perspiciatis alias!</p>
          </div>
        </div> -->